<nz-card nzTitle="Change Password">
  <form (ngSubmit)="submit()" [formGroup]="changePasswordGroup" nz-form>
    <nz-form-item>
      <nz-form-label [nzSpan]="8" nzRequired>Current Password</nz-form-label>
      <nz-form-control [nzSpan]="12">
        <input formControlName="currentPassword" nz-input type="password"/>
        <div
          *ngIf="changePasswordGroup.get('currentPassword').invalid && (changePasswordGroup.get('currentPassword').dirty || changePasswordGroup.get('currentPassword').touched)">
          <small *ngIf="changePasswordGroup.get('currentPassword').hasError('required')" class="text-danger">
            Current password is required.
          </small>
        </div>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSpan]="8" nzRequired>New Password</nz-form-label>
      <nz-form-control [nzSpan]="12">
        <input formControlName="newPassword" nz-input type="password"/>
        <div
          *ngIf="changePasswordGroup.get('newPassword').invalid && (changePasswordGroup.get('newPassword').dirty || changePasswordGroup.get('newPassword').touched)">
          <small *ngIf="changePasswordGroup.get('newPassword').hasError('required')" class="text-danger">
            New password is required.
          </small>
          <small *ngIf="changePasswordGroup.get('newPassword').hasError('minlength')" class="text-danger">
            New password must be at least 6 characters long.
          </small>
        </div>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSpan]="8" nzFor="code" nzRequired>Confirm New Password</nz-form-label>
      <nz-form-control [nzSpan]="12">
        <input formControlName="confirmNewPassword" nz-input type="password"/>
        <div
          *ngIf="changePasswordGroup.get('confirmNewPassword').invalid && (changePasswordGroup.get('confirmNewPassword').dirty || changePasswordGroup.get('confirmNewPassword').touched)">
          <small *ngIf="changePasswordGroup.get('confirmNewPassword').hasError('required')" class="text-danger">
            Confirm new password is required.
          </small>
          <small *ngIf="changePasswordGroup.get('confirmNewPassword').hasError('mismatchedPasswords')"
                 class="text-danger">
            New passwords must match.
          </small>
        </div>
      </nz-form-control>
    </nz-form-item>
    <div class="text-center my-2">
      <button [disabled]="!changePasswordGroup.valid" class="save-button" nz-button
              nzType="primary">Change Password
      </button>
      <button (click)="resetForm()" class="mx-3 my-2" nz-button nzType="default" type="button">
        <i class="fa-regular fa-hand"></i>&nbsp; Reset
      </button>
    </div>
  </form>
</nz-card>
