@import "assets/css/colors";
@import "assets/css/input";

.password {
    display: flex;

    &__actions {
        min-width: 50px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        border: 1px solid rgba(0, 0, 0, 0.25);
        border-radius: 0px 5px 5px 0px;
        border-left: none;
    }
}

:host-context(.form-field_error) {
    input {
        border: 1px solid $error;
    }
}