.bottom-bar {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #f1f1f1;
  text-align: center;
  z-index: 2; /* Set a higher z-index than the form */
}

.bottom-bar p {
  margin: 10px;
  font-size: 14px;
  max-width: 82%;
  color: #888;
  text-align: right;
}
